# Server Configuration
PORT=3001

# Azure OpenAI Configuration
ENDPOINT_URL=https://mygptmodelm.example.url/
DEPLOYMENT_NAME=YOUR_MODEL
AZURE_OPENAI_API_KEY=SECRET_API_KEY

# Optional: Add other environment variables as needed
NODE_ENV=development