# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True

# Supabase PostgreSQL Database Configuration
DATABASE_URL=postgresql://postgres:your-password@db.xxx.supabase.co:5432/postgres

CLERK_PUBLISHABLE_KEY=pk_test_CLERK_KEY
CLERK_SECRET_KEY=sk_test_CLERK_KEY

# Vercel Blob Token
BLOB_READ_WRITE_TOKEN="vercel_blob_TOKEN"

# Execution Worker
EXEC_WORKER_URL="http://localhost:8020/api/worker/execute"
WORKER_API_KEY="wk_dev_s3cur3_k3y_ch4ng3_1n_pr0d"

# Google Cloud Credentials
GOOGLE_APPLICATION_CREDENTIALS="path/to/your/service-account.json"