# Inter-service API Key (must match Django server's WORKER_API_KEY)
WORKER_API_KEY="YOUR_WORKER_KEY"

# Google Cloud Credentials
GOOGLE_APPLICATION_CREDENTIALS="path/to/your/service-account.json"

# Environement (PROD / DEV) DEV uses SA JSON-key, while PROD uses SA directly.
ENVIRONMENT=DEV/PROD